body{
    margin: 0;
    padding: 0;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 40px;
    color: orange;
}

.first-section{
    display: flex;
    margin-left: 200px;
    margin-top: 20px;
}
.first-section p{
    margin-bottom: 40px;
}
.mission-site{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    margin-top: 10px;

}
.mission-site img{
    width: 70%;
    
}
.details-btn{
    text-decoration: none;
    background-image: linear-gradient(orange ,green);
    padding: 10px 40px;
    border-radius: 5px;

}
.mission{
    border-left: 5px solid orange;
}
#scrool{
    margin-left: 270px;
    margin-top: 20px;
}
.mission-header{
    text-align: center;
    margin-bottom: 70px;
}
#header-style{
    color: orange;

}
.mission-item{
    width: 50%;
    margin-left: 10px;
    margin-right: 30px;
}
.mission-item img{
    width: 40%;
     
   
}
.second-section{
    display: flex;
    width: 76%;
    margin-left: 6%;
    margin-right: 6%;
    padding-left: 90px;
    padding-right: 70px;
   
}
#mission-1{
    background-image:linear-gradient(blue,green) ;
    padding-left: 10px;
    margin-bottom: 40px;
    height: 350px;
    margin-left: 40px;
    border-radius: 20px;
    padding-right: 10px;
    text-align: justify;
    
    
}
#vision{
    background-color: rgb(226, 173, 173);
    padding-left: 10px;
    margin-bottom: 40px;
    height: 350px;
    margin-left: 40px;
    border-radius: 20px;
    padding-right: 10px;
    text-align: justify;
}
#goals{
    background-image:linear-gradient(gray,rgb(97, 72, 240)) ;
    padding-left: 10px;
    margin-bottom: 40px;
    margin-left: 40px;
    border-radius: 20px;
    height: 350px;
    padding-right: 10px;
    text-align: justify;
}
.dev-img{
    width: 50%;
}
.dev-img img{
    width: 50%;
    margin-left: 230px;
}
.devlop-section{
    display: flex;
    margin-top: 70px;
}
.dev-info{
    width: 30%;
    margin-right: 120px;
}
.dev-info p{
    margin-bottom: 30px;
}
.link-doc{
    text-decoration: none;
    padding: 10px 50px;
    background-image: linear-gradient(red,orange);
    border-radius: 7px;
}
.community-section{
    display: flex;
    margin-top: 70px;
}